<div class="about">
	<h2>UbuWeb RSS</h2>
	<p>This website provides <%= link_to "an RSS feed", "/feed/news.rss" %> for the news items on the front page of <%= link_to "ubu.com", "http://ubu.com/" %>.</p>
	<p>The feed is updated every 12 hours. <%= link_to "The code", "https://github.com/freen/ubuwebrss" %> is open source.</p>
	<p><a alt="RSS feed" class="rss_icon" href="/feed/news.rss"></a></p>

</div>

<div class="feed_latest">
	<h2>Latest Entries</h2>
	<ul>
		<% @latest_entries.each do |entry| %>
		<li>
			<article>
				<h3><a href="<%= entry.href %>"><%= entry.title %></a></h3>
				<div class="article_description" title="Scraped <%= entry.created_at.strftime('%B %-d, %Y at %H:%M:%S') %>">
					<% description = @sanitizer_full.clean(entry.description) %>
					<%= truncate(description, :length => 155, :omission => "&mdash;").html_safe %>
				</div>
			</article>
		</li>
		<% end %>
	</ul>
</div>

<div class="scrape_log">
	<h2>Scrape Log</h2>
	<ul class="scrape_events">
		<% @scrape_log.each do |scrape| %>
		<li><span class="time"><%= scrape.created_at %>:</span> <span class="entries_found"><%= pluralize scrape.ubu_entries_count, 'entry' %></span></li>
		<% end %>
	</ul>
</div>	