<!DOCTYPE html>
<html>
<head>
  <title>UbuWeb RSS Feed</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, @hostname + "feed/news.rss") %>
</head>
<body>
	<header></header>
	<div class="content">
		<div class="content_inner">
			<%= yield %>
		</div>
	</div>
	<footer>
		<div class="footer_inner">
			<div class="scrape_log">
				<h3>Scrape Log</h3>
				<ul class="scrape_events">
					<% @scrape_log.each do |scrape| %>
					<li><span class="time"><%= scrape.created_at %>:</span> <span class="entries_found"><%= pluralize scrape.entries_found, 'entry' %></span></li>
					<% end %>
				</ul>
			</div>
		</div>
	</footer>
</body>
</html>