<!DOCTYPE html>
<html>
<head>
  <title>UbuWebRSS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, @hostname + "feed/all.rss") %>
</head>
<body>
	<header></header>
	<div class="content">
		<%= yield %>
	</div>
</body>
</html>